@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {


    section#login {
        width: 80vw;
        height: 70vh;
    }

    #imglogin {
        position: relative;
        top: 0px;
        float: left;
        width: 30%;
        height: 100%;
    }

    #form {
        display: block;
        text-align: center;
        display: block;
        padding: 10px;
        float: right;
        width: 67%;
        height: 200px;
        text-align: center;
  
    }

}

@media screen and (min-width: 993px) {
    section#login {
        width: 80vw;
        height: 90vh;
    }

    #textlogin {
        display: block;
        position: absolute;
        font-size: 1.2em;
        width: 55vw;
        top: 10%;
        height: 100vh;
        text-align: center;
        float: center;
        
    }

    #imglogin {
        position: relative;
        top: 0px;
        float: right;
        width: 30%;
        height: 100%;
    }

    #form {
        text-align: center;
        display: block;
        padding: 10px;
        float: right;
        left: 30%;
        width: 60%;
        height: 10vh;
        text-align: center;
        margin-top: 30vh;
    }

}