@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-color: plum;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: #6a5acd;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 {
    margin-right: 12px;
    margin-left: 12px;
    padding: 2px;
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    margin-right: 12px;
    margin-left: 12px;
    padding: 2px;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #28224e71;
}

#imglogin {
    display: block;
    background: #6a5acd url(../imagens/pexels-nothing-ahead-3571551.jpg);
    height: 20vh;
    background-size: cover;
}

#form {
    text-align: center;
    display: block;
    padding: 9px;
    width: 51vw;
    margin-left: -25px;
}

input {
    margin-top: 5px;
    height: 34px;
    width: 200px;
    margin: 2px 2px 2px 2px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
    margin-top: 3px;
}

.material-icons {
    width: 240px;
    height: 7vh;
    text-align: left;
    margin: 2px;
    background-color: #6a5acd;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
}

#submit {
    background-color: #6a5acd;
    height: 25px;
    width: 40vw;
    margin: 2px 2px 2px 84px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#submit:hover {
    background-color: #ffb27f;
    transition: 0.5;
}
a{
    text-align: center;
    margin-left: 90px;
}